<!-- <app-login></app-login>
<hr />
<app-registro></app-registro>
<hr />
<app-reset-password></app-reset-password>
<hr />
<app-perfil></app-perfil>
<hr />
<button mat-raised-button color="primary">Primary</button>
<hr />
<button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
</button>
<hr />
<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
</button> -->


<router-outlet></router-outlet>
