<!-- <h1>Recuperar Contraseña</h1>

<input type="text" placeholder="Usuario">
<button>Recuperar</button> -->

<mat-card>
    <mat-card-header>
        <mat-card-title>Recuperar Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="content">
            <mat-label>Usuario</mat-label>
            <input matInput name="usuario" placeholder="Nombre de Usuario">
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar</button>
        <button mat-raised-button color="warn" routerLink="/login">Volver</button>

    </mat-card-content>
</mat-card>
